{%- set external_urls = {
  'github': 'https://github.com/LukasHedegaard/continual-inference',
  'github_issues': 'https://github.com/LukasHedegaard/continual-inference/issues',
  'contributing': 'https://github.com/LukasHedegaard/continual-inference/CONTRIBUTING.md',
  'docs': 'https://continual-inference.rtfd.io/en/latest',
  'home': 'https://continual-inference.rtfd.io/en/latest/',
  'get_started': 'https://continual-inference.readthedocs.io/en/latest/generated/README.html',
  'support': 'https://continual-inference.rtfd.io/en/latest/',
}
-%}
